@media (min-width:1501px) {
    #achievements {
        background-color: white;
        width: 1300px;
        height: auto;
        overflow: auto;
        padding: 5% 10% 0% 10%;
        display: block;
        margin-top: 230px;
        opacity: 0.1;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .achievement_div {
        width: 20%;
        height: auto;
        margin-left: 4.3%;
        float: left;
        margin-bottom: 20px;
    }
    #achieve_heading {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 60px;
        color: #39C9BB;
        margin-bottom: 2px;
    }
    #achieve_content {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        color: #39C9BB;
    }
    .achievement_img {
        width: 100%;
        height: auto;
        border-radius: 100%;
    }
    .media_img {
        width: 100%;
        height: auto;
        border-radius: 0%;
        cursor: pointer;
    }
    .achievement_name {
        font-size: 20px;
        color: #39C9BB;
        margin-bottom: 5px;
        line-height: 0.9;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    a {
        text-decoration: none;
        outline: none;
    }
}

@media (min-width:950px) and (max-width:1500px) {
    #achievements {
        background-color: #39C9BB;
        width: 80%;
        height: auto;
        padding: 5% 10% 0% 10%;
        display: block;
        text-align: center;
        overflow: auto;
        margin-top: 30px;
        opacity: 0.1;
        margin-left: auto;
        margin-right: auto;
    }
    .achievement_div {
        width: 20%;
        height: auto;
        margin-left: 4.3%;
        float: left;
        margin-bottom: 20px;
    }
    #achieve_heading {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 60px;
        color: white;
        margin-bottom: 2px;
    }
    #achieve_content {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: white;
    }
    .achievement_img {
        width: 100%;
        height: auto;
        border-radius: 100%;
    }
    .media_img {
        width: 100%;
        height: auto;
        border-radius: 0%;
        cursor: pointer;
    }
    .achievement_name {
        font-size: 20px;
        color: white;
        margin-bottom: 5px;
        line-height: 0.9;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    a {
        text-decoration: none;
        outline: none;
    }
}

@media (max-width:949px) and (min-width:0px) {
    #achievements {
        background-color: #39C9BB;
        width: 80%;
        height: auto;
        padding: 5% 10% 0% 10%;
        display: block;
        overflow: auto;
        margin-top: 30px;
        opacity: 0.1;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .achievement_div {
        width: 45%;
        height: auto;
        margin-left: 4.3%;
        float: left;
        margin-bottom: 20px;
    }
    #achieve_heading {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 25px;
        color: white;
        margin-bottom: 2px;
    }
    #achieve_content {
        margin-top: 2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color: white;
    }
    .achievement_img {
        width: 80%;
        height: auto;
        border-radius: 100%;
    }
    .media_img {
        width: 100%;
        height: auto;
        border-radius: 0%;
        cursor: pointer;
    }
    .achievement_name {
        font-size: 20px;
        color: white;
        margin-bottom: 5px;
        line-height: 0.9;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    a {
        text-decoration: none;
        outline: none;
    }
}