a {
    outline: none;
    text-decoration: none;
}

button {
    outline: none;
}

@media (min-width:1301px) {
    #contact_div {
        background-color: white;
        height: auto;
        padding-bottom: 30px;
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    #super_container_contact {
        width: 100%;
        display: block;
        float: left;
        padding-top: 70px;
        padding-bottom: 35px;
    }
    #contact_title {
        text-align: center;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        display: none;
    }
    #contact_leftdiv {
        width: 50%;
        height: auto;
        float: left;
        /* border-right: 2px solid #39C9BB; */
    }
    #office_div {
        width: 100%;
        padding: 2% 2% 2% 2%;
    }
    #office1 {
        width: 90%;
        margin-bottom: 20px;
    }
    #office2 {
        width: 90%;
    }
    .map {
        width: 80%;
        height: 150px;
    }
    .officeName {
        text-align: left;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 50%;
    }
    .map_Address {
        text-align: left;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        color: grey;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 70%;
    }
    #socialmedia_div {
        width: 100%;
        height: auto;
        margin-top: -10px;
        text-align: center;
        margin-left: -10px;
        display: block;
        float: left;
    }
    .socialmedia_button {
        width: 8%;
        height: auto;
        margin-left: 4%;
        text-align: center;
        margin-top: 0px;
    }
    #contact_rightdiv {
        width: 47%;
        height: auto;
        display: block;
        float: left;
        text-align: center;
        /* padding-left: 1%; */
        padding-bottom: 20px;
        border-radius: 6px;
        background: linear-gradient(90deg, #39c9bb, #3ae6d5);
        background-size: cover;
        /* background: url(./Assets/ContactImagev4\ copy.png) no-repeat center; */
        /* background-size: cover; */
        box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.2);
    }
    #contact_form_heading {
        text-align: center;
        font-size: 39px;
        padding-bottom: 10px;
        font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: white;
        margin-bottom: 10px;
        margin-top: 14px;
        border-bottom: 1px solid white;
    }
    .contact_dets {
        width: 70%;
        height: 28px;
        outline: none;
        border-radius: 2px;
        margin-top: 12px;
        padding-left: 10px;
        border-radius: 5px;
        border: 2px solid #39C9BB;
    }
    .contact_content_class {
        width: 70%;
        height: 100px;
        padding-left: 5px;
        outline: none;
        border-radius: 0px;
        margin-top: 15px;
        border: 2px solid #39C9BB;
    }
    .input_comment {
        width: 80%;
        word-break: break-word;
        margin-left: 14%;
        font-size: 18px;
        text-align: left;
        color: #ffffff;
        font-family: sans-serif;
    }
    #submit {
        width: 100px;
        height: 30px;
        background-color: white;
        border: 2px solid white;
        text-align: center;
        margin-top: 10px;
        border-radius: 20px;
        color: #39C9BB;
        font-style: bolder;
        cursor: pointer;
    }
    .email {
        text-align: left;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: grey;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .email_prop {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: -10px;
        margin-left: 2%;
        display: block;
    }
    .email_icon {
        width: 32px;
        height: auto;
        float: left;
        margin-top: 9px;
    }
    .email_text {
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        color: grey;
        margin-left: 10px;
    }
}

@media (min-width:1050px) and (max-width:1300px) {
    #contact_div {
        background-color: white;
        padding-bottom: 30px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #super_container_contact {
        width: 100%;
        display: block;
        float: left;
        padding-top: 70px;
    }
    #contact_title {
        text-align: center;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        display: none;
    }
    #contact_leftdiv {
        width: 50%;
        height: auto;
        float: left;
        border-right: 2px solid #39C9BB;
    }
    #office_div {
        width: 100%;
        padding: 2% 2% 2% 2%;
    }
    #office1 {
        width: 90%;
        margin-bottom: 20px;
    }
    #office2 {
        width: 90%;
    }
    .map {
        width: 60%;
        height: 150px;
    }
    .officeName {
        text-align: left;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 50%;
    }
    .map_Address {
        text-align: left;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        color: grey;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 70%;
    }
    #socialmedia_div {
        width: 100%;
        height: auto;
        margin-top: -10px;
        text-align: center;
        margin-left: -10px;
        display: block;
        float: left;
    }
    .socialmedia_button {
        width: 8%;
        height: auto;
        margin-left: 4%;
        text-align: center;
        margin-top: 0px;
    }
    #contact_rightdiv {
        width: 47%;
        height: auto;
        display: block;
        float: left;
        text-align: center;
        padding-left: 1%;
        padding-bottom: 20px;
    }
    #contact_form_heading {
        text-align: center;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: grey;
        margin-bottom: 10px;
    }
    .contact_dets {
        width: 70%;
        height: 30px;
        outline: none;
        border-radius: 5px;
        margin-top: 20px;
        padding-left: 5px;
        border: 2px solid #39C9BB;
    }
    .contact_content_class {
        width: 70%;
        height: 100px;
        padding-left: 5px;
        outline: none;
        border-radius: 5px;
        margin-top: 20px;
        border: 2px solid #39C9BB;
    }
    #submit {
        width: 120px;
        height: 30px;
        background-color: transparent;
        border: 2px solid #39C9BB;
        text-align: center;
        margin-top: 20px;
        border-radius: 20px;
        color: #39C9BB;
        font-style: bolder;
        cursor: pointer;
    }
    .email {
        text-align: left;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: grey;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .email_prop {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: -10px;
        margin-left: 2%;
        display: block;
    }
    .email_icon {
        width: 40px;
        height: auto;
        float: left;
        margin-top: 9px;
    }
    .email_text {
        font-size: 1.4vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        color: grey;
        margin-left: 10px;
    }
}

@media (max-width:1049px) and (min-width:800px) {
    #contact_div {
        background-color: white;
        height: auto;
        padding-bottom: 30px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #super_container_contact {
        width: 100%;
        display: block;
        float: left;
        padding-top: 70px;
    }
    #contact_title {
        text-align: center;
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-left: -5%;
        margin-bottom: 2px;
        display: block;
    }
    #contact_leftdiv {
        width: 100%;
        height: auto;
        float: left;
        border-top: 2px solid #39C9BB;
        border-bottom: 2px solid #39C9BB;
    }
    #office_div {
        width: 100%;
        padding: 2% 2% 2% 2%;
    }
    #office1 {
        width: 90%;
        margin-bottom: 20px;
    }
    #office2 {
        width: 90%;
    }
    .map {
        width: 60%;
        height: 150px;
    }
    .officeName {
        text-align: left;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 50%;
    }
    .map_Address {
        text-align: left;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        color: grey;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 70%;
    }
    #socialmedia_div {
        width: 100%;
        height: auto;
        margin-top: -10px;
        text-align: center;
        margin-left: -10px;
        display: block;
        float: left;
    }
    .socialmedia_button {
        width: 8%;
        height: auto;
        margin-left: 4%;
        text-align: center;
        margin-top: 30px;
    }
    #contact_rightdiv {
        width: 95%;
        height: auto;
        display: block;
        float: left;
        text-align: center;
        padding-left: 1%;
        padding-bottom: 20px;
    }
    #contact_form_heading {
        text-align: center;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: #39C9BB;
        margin-bottom: 10px;
    }
    .contact_dets {
        width: 70%;
        height: 37px;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        padding-left: 5px;
        border: 2px solid #39C9BB;
    }
    .contact_content_class {
        width: 70%;
        height: 150px;
        padding-left: 5px;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        border: 2px solid #39C9BB;
    }
    #submit {
        width: 150px;
        height: 40px;
        background-color: #39C9BB;
        border: 4px solid #39C9BB;
        text-align: center;
        margin-top: 20px;
        border-radius: 20px;
        color: white;
        font-style: bolder;
        cursor: pointer;
    }
    .email {
        text-align: left;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: grey;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .email_prop {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: -10px;
        margin-left: 2%;
        display: block;
    }
    .email_icon {
        width: 40px;
        height: auto;
        float: left;
        margin-top: 0px;
    }
    .email_text {
        font-size: 1.4vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        color: grey;
        margin-left: 10px;
    }
}

@media (max-width:799px) and (min-width:0px) {
    #contact_div {
        background-color: white;
        height: auto;
        padding-bottom: 30px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #super_container_contact {
        width: 100%;
        display: block;
        float: left;
        padding-top: 70px;
    }
    #contact_title {
        text-align: center;
        font-size: 35px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-left: -5%;
        margin-bottom: 2px;
        display: block;
    }
    #contact_leftdiv {
        width: 100%;
        height: auto;
        float: left;
        border-top: 2px solid #39C9BB;
        border-bottom: 2px solid #39C9BB;
    }
    #office_div {
        width: 100%;
        padding: 2% 2% 2% 2%;
    }
    #office1 {
        width: 96%;
        margin-bottom: 20px;
    }
    #office2 {
        width: 96%;
    }
    .map {
        width: 100%;
        height: 150px;
    }
    .officeName {
        text-align: left;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #39C9BB;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 50%;
    }
    .map_Address {
        text-align: left;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: bold;
        color: grey;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 70%;
    }
    #socialmedia_div {
        width: 100%;
        height: auto;
        margin-top: -10px;
        text-align: center;
        margin-left: -10px;
        display: block;
        float: left;
    }
    .socialmedia_button {
        width: 8%;
        height: auto;
        margin-left: 4%;
        text-align: center;
        margin-top: 30px;
    }
    #contact_rightdiv {
        width: 100%;
        height: auto;
        display: block;
        float: left;
        text-align: center;
        padding-left: 1%;
        padding-bottom: 20px;
    }
    #contact_form_heading {
        text-align: center;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        color: #39C9BB;
        margin-bottom: 2px;
    }
    .contact_dets {
        width: 70%;
        height: 25px;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        padding-left: 5px;
        border: 2px solid #39C9BB;
    }
    .contact_content_class {
        width: 70%;
        height: 120px;
        padding-left: 5px;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
        border: 2px solid #39C9BB;
    }
    #submit {
        width: 120px;
        height: 50px;
        background-color: #39C9BB;
        border: 4px solid #39C9BB;
        text-align: center;
        margin-top: 20px;
        font-size: 4vw;
        border-radius: 20px;
        color: white;
        font-style: bolder;
        cursor: pointer;
    }
    .email {
        text-align: left;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: grey;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .email_prop {
        width: 100%;
        float: left;
        text-align: left;
        margin-top: -10px;
        margin-left: 2%;
        display: block;
    }
    .email_icon {
        width: 40px;
        height: auto;
        float: left;
        margin-top: 9px;
    }
    .email_text {
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        float: left;
        color: grey;
        margin-left: 10px;
    }
}