@media (min-width:1401px) {
    #features {
        display: block;
        width: 1500px;
        height: auto;
        padding: 5% 10% 0% 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .feature_div {
        width: 100%;
        display: block;
        height: auto;
        float: left;
        opacity: 0.1;
        margin-top: 30px;
    }
    .feature_img {
        width: 25%;
        float: left;
        padding: 20px 0;
    }
    .feature_img_prop {
        width: 100%;
    }
    .feature_content_div {
        width: 75%;
        padding: 40px 0;
        float: left;
    }
    .feature_heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        color: #39C9BB;
        margin-bottom: 0px;
        margin-top: 90px;
        margin-left: 50px;
        width: 70%;
    }
    .feature_subheading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: black;
        margin-bottom: 5px;
        margin-top: 1px;
        margin-left: 50px;
    }
    .feature_content {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: grey;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-left: 50px;
    }
}

@media (min-width:990px) and (max-width:1400px) {
    #features {
        display: block;
        float: left;
        height: auto;
        padding: 5% 10% 0% 10%;
    }
    .feature_div {
        width: 100%;
        display: block;
        height: auto;
        float: left;
        opacity: 0.1;
        margin-top: 30px;
        border-radius: 20px;
    }
    .feature_img {
        width: 25%;
        float: left;
        padding: 20px 0;
    }
    .feature_img_prop {
        width: 100%;
    }
    .feature_content_div {
        width: 75%;
        padding: 40px 0;
        float: left;
    }
    .feature_heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        color: #39C9BB;
        margin-bottom: 0px;
        margin-top: 5px;
        margin-left: 50px;
        width: 70%;
    }
    .feature_subheading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: black;
        margin-bottom: 5px;
        margin-top: 1px;
        margin-left: 50px;
    }
    .feature_content {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: grey;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-left: 50px;
    }
}

@media (max-width:989px) and (min-width:640px) {
    #features {
        display: block;
        height: auto;
        padding: 5% 10% 0% 10%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .feature_div {
        width: 42%;
        display: block;
        height: auto;
        float: left;
        opacity: 0.1;
        padding-right: 2%;
        padding-left: 2%;
    }
    .feature_img {
        width: 70%;
        margin-left: 15%;
        float: left;
        padding: 20px 0;
    }
    .feature_img_prop {
        width: 100%;
        padding-right: 2%;
        padding-left: 2%;
    }
    .feature_content_div {
        width: 100%;
        padding: 40px 0;
        float: left;
    }
    .feature_heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 26px;
        color: #39C9BB;
        margin-bottom: 0px;
        margin-top: -15px;
        width: 100%;
        text-align: center;
    }
    .feature_subheading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: black;
        margin-bottom: 5px;
        margin-top: 1px;
        text-align: center;
        width: 100%;
    }
    .feature_content {
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: grey;
        margin-bottom: 5px;
        margin-top: 7px;
        text-align: center;
    }
}

@media (max-width:639px) {
    #features {
        display: block;
        float: left;
        height: auto;
        padding: 5% 10% 0% 10%;
        text-align: center;
    }
    .feature_div {
        width: 90%;
        display: block;
        height: auto;
        float: left;
        opacity: 0.1;
        padding-right: 5%;
        padding-left: 5%;
    }
    .feature_img {
        width: 80%;
        margin-left: 10%;
        float: left;
        padding: 20px 0;
    }
    .feature_img_prop {
        width: 100%;
    }
    .feature_content_div {
        width: 100%;
        padding: 40px 0;
        float: left;
    }
    .feature_heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 26px;
        color: #39C9BB;
        margin-bottom: 0px;
        margin-top: -15px;
        width: 100%;
        text-align: center;
    }
    .feature_subheading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: black;
        margin-bottom: 5px;
        margin-top: 1px;
        text-align: center;
        width: 100%;
    }
    .feature_content {
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: grey;
        margin-bottom: 5px;
        margin-top: 7px;
        text-align: center;
    }
}