@keyframes bp {
    from {
        background-position: 198px 0;
    }
    to {
        background-position: 0 198px;
    }
}

@media (min-width:1921px) {
    #intro {
        width: 1920px;
        height: auto;
        display: block;
        padding: 3% 5% 0% 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #intro-container {
        float: left;
        width: 40%;
        height: auto;
        padding: 5% 5% 5% 5%;
        text-align: left;
    }
    #intro-heading1 {
        font-size: 60px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-heading2 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 60px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-image {
        float: left;
        width: 45%;
        height: auto;
        padding: 2% 2% 2% 2%;
    }
    #intro-content {
        margin-top: 5px;
        font-size: 17px;
        color: #a7a7a7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-right: 8%;
        margin-left: 5%;
        opacity: 0.1;
    }
    #intro-banner {
        width: 600px;
        height: auto;
        opacity: 0.1;
        margin-top: 37px;
    }
}

@media (min-width:1050px) and (max-width:1920px) {
    #intro {
        width: 90%;
        height: auto;
        display: block;
        float: left;
        padding: 3% 5% 0% 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #intro-container {
        float: left;
        width: 40%;
        height: auto;
        padding: 5% 5% 5% 0%;
    }
    #intro-heading1 {
        font-size: 60px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-heading2 {
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 60px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-image {
        float: left;
        width: 45%;
        height: auto;
        padding: 5% 2% 0% 2%;
    }
    #intro-content {
        margin-top: 5px;
        font-size: 17px;
        color: #a7a7a7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-right: 8%;
        padding-left: 5%;
        opacity: 0.1;
    }
    #intro-banner {
        width: 100%;
        height: auto;
        opacity: 0.1;
        margin-top: 37px;
    }
}

@media (min-width:850px) and (max-width:1049px) {
    #intro {
        width: 90%;
        height: auto;
        display: block;
        padding: 3% 5% 0% 5%;
        margin-left: auto;
        margin-right: auto;
    }
    #intro-container {
        float: left;
        width: 40%;
        height: auto;
        padding: 5% 5% 5% 0%;
    }
    #intro-heading1 {
        font-size: 40px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3px;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-heading2 {
        margin-top: 3px;
        margin-bottom: 20px;
        font-size: 40px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-image {
        float: left;
        width: 45%;
        height: auto;
        padding: 2% 2% 2% 2%;
    }
    #intro-content {
        margin-top: 5px;
        font-size: 12px;
        color: #a7a7a7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-right: 8%;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-banner {
        width: 400px;
        height: auto;
        opacity: 0.1;
    }
}

@media (max-width:849px) {
    #intro {
        width: 90%;
        height: auto;
        display: block;
        float: left;
        padding: 3% 5% 0% 5%;
    }
    #intro-container {
        float: left;
        width: 90%;
        height: auto;
        padding: 5% 5% 5% 5%;
        text-align: center;
    }
    #intro-heading1 {
        font-size: 40px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 3px;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-heading2 {
        margin-top: 3px;
        margin-bottom: 20px;
        font-size: 40px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.9;
        margin-left: 0%;
        opacity: 0.1;
    }
    #intro-image {
        float: left;
        width: 90%;
        height: auto;
        padding: 2% 2% 2% 2%;
    }
    #intro-content {
        margin-top: 5px;
        font-size: 15px;
        color: #a7a7a7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        opacity: 0.1;
    }
    #intro-banner {
        width: 95%;
        height: auto;
        opacity: 0.1;
        padding-left: 4vw;
    }
}