@media (min-width:1501px) {
    #team {
        display: block;
        height: auto;
        width: 1500px;
        padding: 3% 5% 5% 5%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    #team_heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: 60px;
        margin-bottom: 7px;
        color: #39C9BB;
    }
    #team_content {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: grey;
    }
    .team_div {
        text-align: center;
        width: 20%;
        float: left;
        height: auto;
        margin-left: 4.5%;
        padding-top: 30px;
        opacity: 0.1;
    }
    .team_photo {
        width: 80%;
        height: auto;
        border-radius: 100%;
        border: 2px solid #39C9BB;
    }
    .team_name {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: bolder;
        color: black;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    .team_job {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
        margin-top: 0px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    #gallery {
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
        display: block;
        float: left;
        opacity: 0.1;
    }
    .gallery_img {
        width: 30%;
        height: 250px;
        overflow-y: hidden;
        margin-left: 3%;
        border-radius: 20px;
        float: left;
    }
}

@media (min-width:1080px) and (max-width:1500px) {
    #team {
        display: block;
        float: left;
        height: auto;
        width: 90%;
        padding: 3% 5% 5% 5%;
        text-align: center;
    }
    #team_heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: 60px;
        margin-bottom: 7px;
        color: #39C9BB;
    }
    #team_content {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
    }
    .team_div {
        text-align: center;
        width: 20%;
        float: left;
        height: auto;
        margin-left: 4.5%;
        opacity: 0.1;
        padding-top: 30px;
    }
    .team_photo {
        width: 80%;
        height: auto;
        border-radius: 100%;
    }
    .team_name {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: bolder;
        color: black;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    .team_job {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
        margin-top: 0px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    #gallery {
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
        display: block;
        float: left;
        opacity: 0.1;
    }
    .gallery_img {
        width: 30%;
        height: auto;
        overflow-y: hidden;
        margin-left: 3%;
        border-radius: 20px;
        float: left;
    }
}

@media (max-width:1079px) and (min-width:640px) {
    #team {
        display: block;
        float: left;
        height: auto;
        width: 90%;
        padding: 3% 5% 5% 5%;
        text-align: center;
    }
    #team_heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: 40px;
        color: #39C9BB;
    }
    #team_content {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        color: grey;
    }
    .team_div {
        text-align: center;
        width: 45%;
        float: left;
        height: auto;
        margin-left: 5%;
        margin-top: 30px;
        padding-top: 30px;
        opacity: 0.1;
    }
    .team_photo {
        width: 60%;
        height: auto;
        border-radius: 100%;
        border: 2px solid #39C9BB;
    }
    .team_name {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: bolder;
        color: black;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    .team_job {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
        margin-top: 0px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    #gallery {
        width: 60%;
        margin-left: 20%;
        padding-top: 50px;
        display: block;
        float: left;
        opacity: 0.1;
    }
    .gallery_img {
        width: 70%;
        height: auto;
        overflow-y: hidden;
        margin-left: 15%;
        border-radius: 20px;
        float: left;
        margin-top: 15px;
    }
}

@media (max-width:639px) {
    #team {
        display: block;
        float: left;
        height: auto;
        width: 90%;
        padding: 3% 5% 5% 5%;
        text-align: center;
    }
    #team_heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: 25px;
        color: #39C9BB;
        margin-bottom: 4px;
    }
    #team_content {
        margin-top: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        color: grey;
    }
    .team_div {
        text-align: center;
        width: 90%;
        float: left;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 30px;
        padding-top: 30px;
        opacity: 0.1;
    }
    .team_photo {
        width: 60%;
        height: auto;
        border-radius: 100%;
        border: 2px solid #39C9BB;
    }
    .team_name {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        font-weight: bolder;
        color: black;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    .team_job {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: grey;
        margin-top: 0px;
        margin-bottom: 5px;
        line-height: 0.9;
    }
    #gallery {
        width: 100%;
        margin-left: 0%;
        padding-top: 20px;
        display: block;
        float: left;
        opacity: 0.1;
    }
    .gallery_img {
        width: 80%;
        height: auto;
        overflow-y: hidden;
        margin-left: 10%;
        border-radius: 20px;
        float: left;
        margin-top: 15px;
    }
}